{% extends 'layout/layout.html' %}

{% block title %}Create Account{% endblock %}

{% block header %}
<h1>Create Account</h1>
{% endblock %}

{% block content%}
<form
  method="POST"
  accept-charset="utf-8"
  >

  <!-- This is required for all forms - protects the user against cross-site request forgery. -->
  {% csrf_token %}

  <fieldset>
    <legend>Create an account</legend>
    {% include "website/pretty_form_field.html" with field=form.old_password %}
    {% include "website/pretty_form_field.html" with field=form.new_password1 %}
    {% include "website/pretty_form_field.html" with field=form.new_password2 %}
  </fieldset>


  <input
    type="submit"
    value="Change"
    />
</form>

{% endblock %}

