{% extends 'layout/layout.html' %}

{% block title %}Upload{% endblock %}

{% block header %}
<h1>Upload</h1>
{% endblock %}

{% block content %}
<form
  method="post"
  accept-charset="utf-8"
  >
  {% csrf_token %}
  <fieldset>
    <legend>Reset Password</legend>

    {{ form }}

    {% include "website/pretty_form_field.html" with field=form.email %}

    <!-- {{ form.has_user_data.as_widget }} {{form.has_user_data.label_tag }} -->
  </fieldset>

  <input
    type="submit"
    name="submit"
    value="Reset Password"
    id="submit"
    />
  <input
    type="reset"
    value="Reset Form"
    id="reset"
    />
</form>

{% endblock %}
